@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* -------------------initialize css */
:root {
  --blue-chiaro: #2356a6;
  --rosino: #f7775e;
  --blue-scuro: #0e3d89;

  --giallo: #edab29;
  --blue-chiaro: #2356a6;
  --rosino-scuro: #eb5b3d;

  --verde: #1ba8ab;
  --giallo-scuro: #eaab29;

  --rosso-scuro: #d82b18;
  --giallo: #edab29;

  --giallo: #edab29;
  --rosso-chiaro: #e2432a;

  --bianco: #fee9f4;
  --giallo-scuro: #f6ac19;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', 'JetBrains Mono', 'Syne', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.1rem;
  color: var(--bianco);
  background-color: black;
  padding: 20px;
  /* overflow: hidden; */
}

/* -------------------navigation */
nav {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
}

/* --------------------intro section */
.intro {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px);
  margin-top: 8rem;
  grid-gap: 1rem;
}

/* project box style */
.intro .project-box {
  grid-column: 1/3;
  grid-row: 1/3;
  /* background: linear-gradient(to right, var(--blue-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--blue-scuro);
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  color: var(--bianco);
  /* border: 2px solid white; */
  transition: transform 0.5s;
}

.intro .project-box:hover {
  transform: scale(0.95);
  border: 2px solid white;
}

/* -marquee effect start*/
.intro .project-box .wrapper {
  position: absolute;
  width: 150%;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  font-weight: 700;
  line-height: 10rem;
}

.wrapper .box {
  position: absolute;
  width: 350px;
  height: 100px;
  text-align: center;
  white-space: nowrap;
}
.wrapper .boxes {
  position: relative;
  left: -600px;
}

.intro .project-box .wrapper h3 {
  white-space: nowrap;
}
/* -marquee effect end*/

.arrow-down {
  width: 30px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 50%;
  border: 2px solid white;
}

.left-top {
  justify-self: flex-start;
  align-self: flex-start;
}

.right-top {
  justify-self: flex-end;
  align-self: flex-start;
}

.left-bottom {
  justify-self: flex-start;
  align-self: flex-end;
}

.right-bottom {
  justify-self: flex-end;
  align-self: flex-end;
}

.intro div {
  text-align: center;
}

.intro .about-box p,
.intro .work-box p {
  margin: 10px 15px;
  text-transform: capitalize;
}

/* -work-box style start */
.intro .work-box {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
  /* background: linear-gradient(to bottom, var(--giallo) 50%, transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo);
  transition: transform 0.5s;
  /* border: 2px solid white; */
}

.intro .work-box:hover {
  transform: scale(0.95);
  border: 2px solid white;
}
/* -work-box style end */

/* -about-box style end */
.intro .about-box {
  grid-column: 4/5;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
  /* background: linear-gradient(to top, var(--rosino-scuro) 50%, transparent),
    url('./assets/grain.svg'); */
  background-color: var(--rosino-scuro);
  transition: transform 0.5s;
  /* border: 2px solid white; */
}

.intro .about-box:hover {
  transform: scale(0.95);
  border: 2px solid white;
}
/* -about-box style end */

/* -contact-box style start */
.intro .contact-box {
  grid-column: 4/5;
  grid-row: 1/-1;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s;
  align-items: center;
  /* background: linear-gradient(to top, var(--verde), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--verde);
  transition: transform 0.5s;
  text-transform: capitalize;
  /* border: 2px solid white; */
}

.intro .contact-box p {
  margin: 10px 15px;
}

.intro .contact-box:hover {
  transform: scale(0.95);
  border: 2px solid white;
}
/* -contact-box style end */
/* --------------------intro section end*/

/* --------------------project section start*/
.projects {
  margin-top: 10px;
}
/* -project intro */
.projects-intro {
  /* background: linear-gradient(-128deg, rgba(255, 255, 255, 0) 5%, #090909),
    url('./assets/grain.svg'); */
  background-color: #333;
  padding: 100px;
  color: #ebebeb;
  position: relative;
  /* border: 2px solid white; */
}

.projects-intro h3 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 7.2rem;
  margin-bottom: 5rem;
  /* color: var(--rosino); */
  max-width: 80%;
}

.projects-intro p {
  font-size: 2.1rem;
  max-width: 80%;
  line-height: 2.4rem;
}

.projects-intro img {
  padding: 50px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  /* background: linear-gradient(-128deg, rgba(255, 255, 255, 0) 2%, #090909),
    url('./assets/grain.svg'); */
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  transition: all 0.3s;
}

.projects-intro img:hover {
  border: 2px solid var(--giallo);
  transform: rotate(40deg);
}

/* project intro end */
/* projects items section */
.projects-items {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.project-item {
  display: flex;
}

.project-item .project-description {
  padding: 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-right: 10px;
  flex-basis: 50%;
  /* background: linear-gradient(to right, var(--giallo), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo);
  text-align: center;
  /* border: 2px solid white; */
}

.project-item .project-description .links {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.project-item .project-description .links a,
.project-item .project-description .links a:visited,
.project-item .project-description .links a:link {
  color: white;
  text-transform: uppercase;
}

.project-item .project-description .links a:hover {
  color: orange;
}

.project-item .project-name {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 50%;
  /* background: linear-gradient(to left, var(--giallo), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo);
  /* border: 2px solid white; */
}

.project-item .project-name h4 {
  font-size: 52px;
  line-height: 60px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.project-item.item1 .project-description {
  /* background: linear-gradient(to left, var(--giallo), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo);
}
.project-item.item1 .project-name {
  /* background: linear-gradient(to right, var(--giallo), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo);
}

.project-item.item1 .project-name h4 {
  color: var(--blue-scuro);
}

.project-item.item3 .project-description {
  /* background: linear-gradient(to left, var(--blue-chiaro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--blue-chiaro);
}
.project-item.item3 .project-name {
  /* background: linear-gradient(to right, var(--blue-chiaro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--blue-chiaro);
}

.project-item.item3 .project-name h4 {
  color: var(--rosino);
}

.project-item.item2 .project-description {
  /* background: linear-gradient(to left, var(--rosso-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--rosso-scuro);
}
.project-item.item2 .project-name {
  /* background: linear-gradient(to right, var(--rosso-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--rosso-scuro);
}

.project-item.item2 .project-name h4 {
  color: var(--giallo-scuro);
}

.project-item.item4 .project-description {
  /* background: linear-gradient(to left, var(--verde), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--verde);
}
.project-item.item4 .project-name {
  /* background: linear-gradient(to right, var(--verde), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--verde);
}

.project-item.item4 .project-name h4 {
  color: var(--giallo-scuro);
}

.project-item .project-name ul {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.project-item .project-name ul li {
  list-style: none;
}
/* projects items section end*/
/* --------------------project section end*/

/* --------------------about start*/

.about {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about .about-intro {
  display: flex;
  gap: 50px;
  /* background: linear-gradient(to left, var(--bianco), transparent),
    url('./assets/grain.svg'); */
  background-color: white;
  padding: 100px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
}

.about .about-intro h3 {
  font-size: 80px;
  line-height: 72px;
  margin-bottom: 30px;
  color: var(--rosino-scuro);
}

.about .about-text {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #333;
}

.about .about-img {
  flex-basis: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about .about-img img {
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.5s;
}

.about-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.about-boxes .about-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 120px);
  padding: 30px;
  transition: all 0.3s;
  position: relative;
  /* border: 2px solid white; */
}

.about-boxes .about-box:hover {
  box-shadow: inset 0 0 0 15px rgba(255, 255, 255, 0.452);
}

.about-box .img-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}

.about-box.box1 {
  /* background: linear-gradient(to top, var(--verde), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--verde);
}

.about-box.box2 {
  /* background: linear-gradient(to top, var(--blue-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--blue-scuro);
}

.about-box.box3 {
  /* background: linear-gradient(to top, var(--giallo-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--giallo-scuro);
}

.about-box.box4 {
  /* background: linear-gradient(to top, var(--rosso-scuro), transparent),
    url('./assets/grain.svg'); */
  background-color: var(--rosso-scuro);
}
/* --------------------about end*/

/* --------------------contact start*/

.contact {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact .socials {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  /* background: linear-gradient(-128deg, rgba(255, 255, 255, 0) 5%, #090909),
    url('./assets/grain.svg'); */
  background-color: #333;
  /* border: 2px solid white; */
}

.contact .socials .text {
  flex-basis: 50%;
  font-size: 32px;
  line-height: 35px;
  font-weight: 700;
  color: var(--giallo-scuro);
  text-align: center;
}

.contact .socials .social-route {
  position: relative;
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .socials .social-route a {
  position: absolute;
}

.contact .socials .social-route a img {
  width: 150px;
  padding: 10px;
}

.contact .socials .social-route .item1 {
  transform: translateX(-75%);
}

.contact .socials .social-route .item2 {
  transform: translateY(-75%);
}

.contact .socials .social-route .item3 {
  transform: translateX(75%);
}

.contact .socials .social-route .item4 {
  transform: translateY(75%);
}

.form-container {
  background: linear-gradient(to top, #fee9f4, transparent),
    url('./assets/grain.svg');
  background-color: #fff;
  padding: 10px;
  color: #333;
}

.form-container h3 {
  padding: 100px;
  padding-bottom: 0;
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
}

.form-container form {
  display: flex;
  gap: 10px;
  padding: 100px;
  padding-top: 50px;
  max-width: 1500px;
  margin: 0 auto;
}

.form-container form .inputs textarea {
  padding-top: 15px;
}

.form-container form .inputs {
  flex-basis: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 60px);
  gap: 20px;
}

.form-container form .inputs textarea {
  grid-column: 1/-1;
  grid-row: 2/-1;
}

.form-container form .inputs input,
.form-container form .inputs textarea {
  box-sizing: border-box;
  text-indent: 20px;
  background-color: rgba(0, 0, 0, 0.637);
  border: 2px solid rgba(255, 255, 255, 0.329);
  color: #ebebeb;
  font-weight: 400;
  font-family: 'Syne', sans-serif;
  width: 100%;
  font-size: 1.8rem;
}

.form-container form .inputs input::placeholder,
.form-container form .inputs textarea::placeholder {
}

.form-container form .inputs input:focus,
.form-container form .inputs textarea:focus {
  outline: 2px solid white;
}

.form-container form button {
  flex-basis: 30%;
  /* background: linear-gradient(to top, var(--giallo-scuro), transparent),
    url('./assets/grain.svg'); */
  background: var(--giallo-scuro);
  border: none;
  cursor: pointer;
  border: 3px solid white;
  transition: all 0.3s;
}

.form-container form button:hover {
  border: 3px solid var(--giallo-scuro);
}

/* ---------------------------RESPONSIVE */
@media only screen and (max-width: 1000px) {
  .about .about-intro {
    flex-direction: column;
    align-items: center;
    padding: 100px;
  }

  .about .about-intro .about-img {
    max-width: 500px;
  }

  .form-container form {
    flex-direction: column;
  }

  .form-container form button {
    padding: 30px;
  }

  .intro {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
  }

  .intro .project-box {
    grid-column: 1/3;
    grid-row: 1/3;
  }

  .intro .work-box {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .intro .about-box {
    grid-column: 4/5;
    grid-row: 1/3;
  }

  .intro .contact-box {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  .projects-intro h3 {
    font-size: 6rem;
    line-height: 6.1rem;
    margin-bottom: 30px;
  }

  .projects-intro p {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .projects-intro img {
    padding: 30px;
  }

  .project-item {
    flex-direction: column-reverse;
  }

  .project-item .project-description {
    margin-right: 0;
    padding-top: 10px;
  }

  .project-item .project-name {
    padding-bottom: 10px;
  }

  .project-item.item1 .project-description {
    /* background: linear-gradient(to right, var(--giallo), transparent),
      url('./assets/grain.svg'); */
    background: var(--giallo);
  }

  .project-item.item2 .project-description {
    /* background: linear-gradient(to right, var(--rosso-scuro), transparent),
      url('./assets/grain.svg'); */
    background: var(--rosso-scuro);
  }

  .project-item.item3 .project-description {
    /* background: linear-gradient(to right, var(--blue-chiaro), transparent),
      url('./assets/grain.svg'); */
    background: var(--blue-chiaro);
  }

  .project-item.item4 .project-description {
    /* background: linear-gradient(to right, var(--verde), transparent),
      url('./assets/grain.svg'); */
    background: var(--verde);
  }

  .form-container form .inputs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 60px);
  }

  .form-container form .inputs input:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  .form-container form .inputs textarea {
    grid-column: 1/-1;
    grid-row: 3/-1;
  }

  .about .about-intro {
    /* background: linear-gradient(to top, var(--bianco), transparent),
      url('./assets/grain.svg'); */
    background: var(--bianco);
  }
}

@media only screen and (max-width: 800px) {
  .intro {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 200px);
  }

  .intro .project-box {
    grid-column: 1/4;
    grid-row: 1/3;
  }

  .intro .work-box {
    grid-column: 4/6;
    grid-row: 1/3;
  }

  .intro .about-box {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .intro .contact-box {
    grid-column: 3/6;
    grid-row: 3/4;
  }

  .about-boxes {
    grid-template-columns: 1fr;
  }

  .projects-intro {
    padding: 100px 50px;
  }

  .projects-intro img {
    top: 20px;
    right: 20px;
    bottom: initial;
  }

  .projects-intro h3 {
    max-width: 90%;
  }

  .projects-intro p {
    max-width: 100%;
  }

  .about .about-intro {
    padding: 100px 50px;
  }

  .form-container form {
    padding: 50px 50px 100px;
  }

  .form-container form .inputs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 60px);
  }

  .form-container form .inputs input:nth-child(2) {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  .form-container form .inputs textarea {
    grid-column: 1/-1;
    grid-row: 4/-1;
  }
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }
  .intro {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 200px);
  }

  .intro .project-box {
    grid-column: 1/-1;
    grid-row: 1/3;
  }

  .intro .work-box {
    grid-column: 1/4;
    grid-row: 3/4;
  }

  .intro .about-box {
    grid-column: 4/-1;
    grid-row: 3/4;
  }

  .intro .contact-box {
    grid-column: 1/-1;
    grid-row: 4/5;
  }

  .about-boxes {
    grid-template-columns: 1fr;
  }

  .projects-intro img {
    visibility: hidden;
  }

  .projects-intro {
    padding: 70px 20px;
  }

  .project-item .project-description {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    padding-top: 20px;
  }

  .projects-intro h3 {
    font-size: 4rem;
    line-height: 4.1rem;
  }

  .project-item .project-name h4 {
    font-size: 5rem;
    line-height: 5.1rem;
  }

  .about .about-intro h3 {
    font-size: 5rem;
    line-height: 5.1rem;
  }

  .about .about-intro {
    padding: 70px 20px;
  }

  .form-container form {
    padding: 50px 20px 70px;
  }

  .form-container {
    padding: 0;
  }

  .form-container h3 {
    padding: 100px 20px 0px;
  }
}
